# .env.example


POSTGRES_USER=postgres
POSTGRES_PASSWORD=root_password_change_me
POSTGRES_DB=school_db
APP_DB_USER=app_user
APP_DB_PASSWORD=app_password_change_me


Cadena de conexión de Next.js

Debe coincidir con las variables de arriba:
postgresql://[APP_DB_USER]:[APP_DB_PASSWORD]@[HOST]:[PORT]/[POSTGRES_DB]
NOTA SOBRE EL PUERTO:
- Si se esta corriendo Next.js localmente (npm run dev): Hay que usar 'localhost:5433'
- Si no se corre Next.js dentro de Docker: Hay que usar 'db:5432'

DATABASE_URL="postgresql://app_user:app_password_change_me@localhost:5433/school_db"